.place-order-background{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0,0,0,.3)), url('../../images/order.jpg');
    background-position: center;
    /* background-attachment: fixed; */
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.place-order form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.place-order input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}