.login-style{
    width: 50%;
    border: none;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.5);
    padding: 5px 120px;
    border-radius: 5px;
}

.google-box{
    width: 70%;
    margin: auto;
    border: none;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    padding: 15px 2px;
    border-radius: 10px;
    color: #061a3a;
    font-family: 'Libre Baskerville', serif;
}

.register-btn{
    border: none;
    background-color: royalblue;
    color: white;
    padding: 8px 18px;
    font-family: 'Libre Baskerville', serif;
}

@media only screen and (max-width: 768px) {
    .login-style{
        width: 100% !important;
        padding: 5px 20px;
        
    }
}