.bg-img{
    background: linear-gradient(rgb(0,0,0,0.3), rgb(0,0,0,0.3)), url('../../../images/banner.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.banner-heading{
    font-size: 60px;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
}

.home-button{
    margin-top: 15px;
    border: none;
    color: white;
    background-color: #fd7709;
    padding: 12px 28px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;

}


@media only screen and (max-width: 768px) {
    .banner-heading{
        font-size: 46px;
        
    }
}